.popup {
    margin: auto;
    background: white;
    width: 100%;
    max-width: 200px;
    border-radius: 5px;
    background: white;
    transform: translate(0%, 50%);
}

.lcontainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 15vh;
    width: 100%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0);
    border-radius: 5px;
}

.lheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

.ltext {
    color: #3c009d;
    font-size: 35px;
    font-weight: 700;
}

.lunderline {
    width: 60px;
    height: 5px;
    background: #3c009d;
    border-radius: 10px;
}

.linputs {
    display: flex;
    flex-direction: column;
    margin: 30px 10px;
    gap: 20px;
}

.linput {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 300px;
    height: 40px;
    background: rgb(203, 203, 203);
    border-radius: 14px;
}

/* Add this CSS to align the icons to the left of the input */
.linput svg {
    margin-right: 10px;
    width: 1.25em;
    height: 1.25em;
}

.linput input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 15px;
}

.lsubmit-container {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    gap: 15px;
    align-items: center;
}

.lsubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: 40px;
    color: white;
    background: #4c00b4;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    border: none;
}

.lgray {
    width: 100%;
    background: rgb(203, 203, 203);
    color: black;
}
